.container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .nav {
    display: flex;
    flex-direction: row;
  }

  .main {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    overflow: auto;
    .header {
    }
    .content {
      flex: 1 1;
      padding: 10px;
    }
    .footer {
    }
  }
}
